<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>746114027953-jdecc24c2jvr8s1mvneg4foaupd3rkt8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746114027953-jdecc24c2jvr8s1mvneg4foaupd3rkt8</string>
	<key>API_KEY</key>
	<string>AIzaSyA5iRSguy-igoOfy93PRcBjYJdhzwa1KLE</string>
	<key>GCM_SENDER_ID</key>
	<string>746114027953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MomentumHealth.Steamboat-Mobile</string>
	<key>PROJECT_ID</key>
	<string>momentum-health-1488135260254</string>
	<key>STORAGE_BUCKET</key>
	<string>momentum-health-1488135260254.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746114027953:ios:79db25038ad6ac58</string>
	<key>DATABASE_URL</key>
	<string>https://momentum-health-1488135260254.firebaseio.com</string>
</dict>
</plist>